 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap'); 


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  display: none;
}

@media (max-width:640px) {
  a.active {
   background-color: black;
   color: white;
  }
}

/* tailwind.css */
.input { @apply border p-2 w-full rounded; }
.input-file { @apply w-full p-2; }
.btn-primary { @apply bg-blue-500 text-white p-2 rounded hover:bg-blue-600; }